<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divya.profileswitcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.divya.profileswitcher.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.divya.profileswitcher.CreateProfile"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="com.divya.profileswitcher.CreateProfile"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.divya.profileswitcher.ValidateKey"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="com.divya.profileswitcher.ValidateKey"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.divya.profileswitcher.SaveKey"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="com.divya.profileswitcher.SaveKey"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <receiver android:name="com.divya.profileswitcher.SmsReceiver">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        
        <activity 
            android:name="com.divya.profileswitcher.ChangeProfile"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="com.divya.profileswitcher.ChangeProfile"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
    <uses-permission 
        android:name="android.permission.RECEIVE_SMS">
        </uses-permission>
</manifest>
